<form #registerForm="ngForm" (ngSubmit)="register()">
    <h2 class="text-center text-primary">Sign Up</h2>
    <hr>
  
    <div class="form-group">
      <input type="text" [(ngModel)]="user.username" name="username" class="form-control" placeholder="Username">
    </div>

    <div class="form-group">
      <label for="favouriteValue">What is your favourite value?</label>
      <select id="favouriteValue" class="form-control">
        <option *ngFor="let value of valuesFromHome" [value]="value">{{value.name}}</option>
      </select>
    </div>
  
    <div class="form-group">
      <input type="password" [(ngModel)]="user.password" name="password" class="form-control" placeholder="Password">
    </div>
  
    <div class="form-group text-center">
      <button class="btn btn-success mr-2" type="submit">Register</button>
      <button class="btn btn-danger" type="button" (click)="cancel()">Cancel</button>
    </div>
    
  </form>